/* https://coolors.co/d8ddef-a0a4b8-7293a0-45b69c-21d19f */

/* https://coolors.co/2d3047-93b7be-e0ca3c-a799b7-048a81 */

/* https://coolors.co/2d3047-93b7be-d7d9d7-c9c5cb-048a81 */

/* #368cbf  - blue
#7ebc59 -accent green
#33363b dark slate
#eaeaea light grey
 */
/* font-family: 'Lato', sans-serif; */

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;

  font-family: 'Lato', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
a:hover {
  color: white;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

.wrap {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}
.center {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
}

.sectionHeading {
  margin-top: 2rem;
  margin-bottom: 8rem;
  text-align: center;
  font-size: 5rem;
}
#top,
#projects,
#skills,
#contact {
  padding: 60px 10px;
  text-align: center;
  min-height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#top {
  background: #368cbf;
}
#skills {
  background: #7ebc59;
}
#projects,
#contact {
  background: #eaeaea;
}

.three-words {
  display: flex;
  justify-content: space-evenly;
}
.about-blurb {
  margin-top: 5rem;
  line-height: 3rem;
  text-align: center;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 1rem;
}
.project {
  height: 30rem;
  width: 40rem;
  /* background: #7ebc59; */
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.75);
}
.project h2 {
  margin: 1rem 0;
}
.project img {
  margin: 1.5rem 0;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

#skills > * {
  margin-top: 3rem;
}
.skills {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.skills > div {
  margin-top: 1rem;
  margin-bottom: 3rem;
  /* min-width: 8rem; */
}
.skills li {
  margin: 1rem 0;
}
.social-icon {
  font-size: 4rem;
}
.social-icon:hover {
  color: black;
}
.email-form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 1rem auto;
}
.email-form > * {
  padding: 1rem;
  margin: 0.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}
.email-form .button {
  background: #33363b;
  border: none;
  color: white;
  cursor: pointer;
  width: 12rem;
  height: 5rem;
  align-self: flex-end;
}

footer {
  background: #33363b;
  color: #eaeaea;
  padding: 2rem;
}

@media screen and (min-width: 550px) {
  .skills {
    flex-direction: row;
    max-width: 800px;
  }
}
