/* https://coolors.co/d8ddef-a0a4b8-7293a0-45b69c-21d19f */

/* https://coolors.co/2d3047-93b7be-e0ca3c-a799b7-048a81 */

/* https://coolors.co/2d3047-93b7be-d7d9d7-c9c5cb-048a81 */

/* #368cbf  - blue
#7ebc59 -accent green
#33363b dark slate
#eaeaea light grey
 */
/* font-family: 'Lato', sans-serif; */

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;

  font-family: 'Lato', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
a:hover {
  color: white;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

.wrap {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.sectionHeading {
  margin-top: 2rem;
  margin-bottom: 8rem;
  text-align: center;
  font-size: 5rem;
}
#top,
#projects,
#skills,
#contact {
  padding: 60px 10px;
  text-align: center;
  min-height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#top {
  /* background: #368cbf; */
}
#skills {
  /* background: #7ebc59; */
}
#projects,
#contact {
  background: #eaeaea;
}

.three-words {
  display: flex;
  justify-content: space-evenly;
}
.about-blurb {
  margin-top: 5rem;
  line-height: 3rem;
  text-align: center;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 35rem));
  justify-content: center;
  grid-gap: 1rem;
}
.project {
  height: 25rem;
  max-width: 100%;
  /* background-color: #7ebc59; */
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.75);
  position: relative;
}
.project h2 {
  margin: 1rem 0;
}
.project img {
  /* margin: 0rem 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project:hover .overlay {
  cursor: pointer;
  opacity: 1;
}
.project-info-text {
  margin: 2rem;
}

/* MODAL */
.close-modal {
  padding: 0.5rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  width: 5rem;
  text-align: center;
  position: absolute;
  right: 0;
}
.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(51, 54, 59, 0.829);
  display: grid;
  place-content: center;
}
.modal-content {
  background-color: #eaeaea;
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;

  max-width: 55rem;
  border-radius: 1rem;
  justify-items: center;
  text-align: center;
}
.modal-content h2 {
  margin: 2rem 0;
}
.modal-content img {
  width: 80%;
  border: 1px solid black;
}
.modal-content ul {
  display: block;
  margin-bottom: 3rem;
}
.modal .button {
  background: #33363b;
  padding: 1.6rem 3.5rem;
  margin: 0 0.7rem;
  font-size: 1.8rem;
  overflow: hidden;
}
.modal .button:hover {
  color: black;
}
.modal .links {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0.5rem;
}

.skills {
  align-self: center;
  /* margin: 1rem auto; */
}
.skills .card {
  color: #c7c7c7;
  margin: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 25rem;
  background: #6e6868;
}
.skills h3 {
  margin: 1rem;
  padding-bottom: 1.5rem;
}

.skills .card li {
  background: #33363b;
  border: 1px solid black;
  margin: 1rem 0;
  padding: 2rem;
}
.social-icon {
  font-size: 4rem;
}
.social-icon:hover {
  color: black;
}
.email-form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 1rem auto;
}
.email-form > * {
  padding: 1rem;
  margin: 0.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}
.email-form .button {
  background: #33363b;
  border: none;
  color: white;
  cursor: pointer;
  width: 12rem;
  height: 5rem;
  align-self: flex-end;
}

footer {
  background: #33363b;
  color: #eaeaea;
  padding: 2rem;
}

@media screen and (min-width: 650px) {
  .skills {
    /* flex-direction: row; */
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-self: stretch;
    align-self: center; */
    /* margin: 0 auto; */
  }
  /* .skills .card {
    color: #eaeaea;
    /* margin: 1rem; */
  /* min-width: 30rem; */
  /* max-width: 30rem; */

  .project-info-text {
    display: none;
  }
}
